# Local
.DS_Store
*.local
*.log*

# Ignore local Claude Code config
*.local.json

# IDE
.idea

# Build stuff.
target
pkg
dist
out
result
*.tsbuildinfo
node_modules
/.direnv

# Don't leak dev stuff
*.mp4
*.fmp4
*.crt
*.key
*.hex
*.jwk
*.jwt
*.m3u8
*.m4s

# We're using bun
package-lock.json
yarn.lock
pnpm-lock.yaml

# Python
__pycache__/
*.pyc
.venv/
