[Unit]
Description=Prepare video for demo-bbb publisher
Before=demo-bbb.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/var/lib/moq

ExecStart=/var/lib/moq/pkg/bin/wget -nv https://vid.moq.dev/bbb.mp4 -O /var/lib/moq/fragmented.mp4

[Install]
WantedBy=multi-user.target
