[Unit]
Description=Check RAM usage and alert if low or swap is used

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/ram-alert.sh
Environment="RAM_ALERT_WEBHOOK=${webhook}"
Environment="RAM_ALERT_THRESHOLD=20"

StandardOutput=journal
StandardError=journal
